@import '../../responsive';
@import '../../variables';

.article {
  &-banner {
    position: relative;

    &-image {
      width: 100%;
    }

    &-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &-content {
      text-align: center;

      &-title {
        font-family: 'Prata', sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 54px;
        color: $color-primary-light;
        margin-bottom: 15px;
      }

      &-description {
        display: flex;
        justify-content: center;
        gap: 30px;

        &-link {
          text-decoration: none;

          &-icon {
            width: 15px;
          }

          &-information {
            font-family: 'Outfit', sans-serif;
            font-size: 13px;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
  }

  &-container {
    width: 100%;
    padding: 100px 33px 60px;
    margin: 0 auto;
  }

  &-content {
    &-arcu {
      text-align: center;
      margin-bottom: 80px;

      &-title {
        font-family: 'Prata', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        margin-bottom: 30px;
        color: $color-primary;
      }

      &-description {
        font-family: 'Outfit', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 30px;
        color: $color-primary;
      }

      &-information {
        font-family: 'Outfit', sans-serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 19px;
        margin-bottom: 30px;
        color: $color-primary;
      }

      &-image {
        width: 100%;
        margin-top: 70px;
      }
    }

    &-rutrum {
      text-align: center;
      margin-bottom: 50px;

      &-decor {
        display: flex;
        margin: 0 auto;
        width: 24px;
        padding-bottom: 15px;
      }

      &-title {
        font-family: 'Prata', sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 30px;
        color: $color-primary;
      }

      &-information {
        font-family: 'Outfit', sans-serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 19px;
        margin-bottom: 30px;
        color: $color-primary;
      }

      &-list {
        list-style: none;
        font-size: 0px;
        padding: 0px;
        margin-top: 70px;
        margin-bottom: 20px;

        &-item {
          &-image {
            width: 100%;
          }
        }
      }

      &-wrapper {
        padding: 20px 20px;
        border: 1px solid #efefef;
        margin-bottom: 20px;
      }

      &-table {
        text-align: left;
        width: 100%;
        box-sizing: border-box;
        border-spacing: 0;
        border-radius: 5px;

        &-decor {
          border-bottom: 1px solid #efefef;
        }

        &-title {
          font-family: 'Outfit', sans-serif;
          font-size: 13px;
          font-weight: 700;
          line-height: 19px;
          color: #444444;
          padding: 10px;
        }

        &-information {
          font-family: 'Outfit', sans-serif;
          font-size: 13px;
          font-weight: 300;
          line-height: 19px;
          color: $color-primary;
          padding: 10px;
        }
      }
    }

    &-elementum {
      margin: 20px 0 60px;

      &-image {
        width: 100%;
        margin-bottom: 80px;
      }

      &-title {
        font-family: 'Outfit', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color: $color-primary;
        margin-bottom: 35px;
      }

      &-description {
        &-list {
          padding: 0;
          margin-bottom: 40px;

          &-item {
            display: flex;
            align-items: center;
            font-family: 'Outfit', sans-serif;
            font-size: 13px;
            font-weight: 300;
            line-height: 19px;
            color: $color-primary;
            list-style: none;

            &-decor {
              padding: 15px;
            }
          }
        }
      }
    }

    &-share {
      border: 11px solid #e7f0eb;
      padding: 60px 40px 30px;

      &-wrapper {
        padding-bottom: 40px;
        border-bottom: 2px solid #e7f0eb;
      }

      &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 35px;

        &-description {
          font-family: 'Outfit', sans-serif;
          font-size: 13px;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 3px;
          color: $color-primary;
        }
      }

      &-list {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-top: 15px;
        border-top: 1px solid #e7f0eb;

        &-title {
          font-family: 'Outfit', sans-serif;
          font-size: 13px;
          font-weight: 300;
          line-height: 19px;
          color: $color-primary;
        }

        &-link {
          &-image {
            width: 20px;
          }
        }
      }

      &-container {
        padding-top: 60px;

        &-image {
          display: flex;
          margin: 0 auto;
          margin-bottom: 20px;
        }

        &-description {
          text-align: center;

          &-title {
            font-family: 'Outfit', sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            color: $color-primary;
            margin-bottom: 20px;
          }

          &-information {
            font-family: 'Outfit', sans-serif;
            font-size: 13px;
            font-weight: 300;
            line-height: 19px;
            color: $color-primary;
          }
        }
      }
    }

    &-see {
      margin: 100px 0 50px;
      padding: 60px 40px;
      background-color: #fff8f2;

      &-title {
        text-align: center;
        font-family: 'Prata', sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        color: $color-primary;
        margin-bottom: 20px;
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        list-style: none;
        padding: 0;

        &-item {
          &-image {
            width: 100%;
          }

          &-description {
            &-wrapper {
              display: flex;
              flex-wrap: nowrap;
              gap: 5px;
              margin: 15px 0px 10px;
            }

            &-admin,
            &-date {
              display: flex;
              align-items: center;
              gap: 3px;
              text-decoration: none;

              &-icon {
                width: 15px;
              }

              &-information {
                font-family: 'Outfit', sans-serif;
                font-size: 13px;
                font-weight: 300;
                line-height: 16px;
                color: $color-secondary-dark;
              }
            }

            &-title {
              font-family: 'Prata', sans-serif;
              font-size: 24px;
              font-weight: 400;
              line-height: 29px;
              color: $color-primary;
              margin-bottom: 15px;
              text-decoration: none;

              &:hover {
                color: $color-accent;
              }
            }
          }
        }
      }
    }
  }
}

@include respond-to(tablet) {
  .article {
    &-banner-content {
      &-title {
        font-size: 60px;
        line-height: 68px;
      }
    }

    &-content {
      &-arcu {
        &-title {
          font-size: 30px;
          line-height: 36px;
        }

        &-description {
          font-size: 18px;
          line-height: 26px;
        }

        &-information {
          line-height: 21px;
        }
      }

      &-rutrum {
        &-title {
          font-size: 38px;
          line-height: 38px;
        }

        &-information {
          line-height: 21px;
        }

        &-list {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          &-item {
            width: 50%;
          }
        }

        &-table {
          &-title,
          &-information {
            line-height: 21px;
          }
        }
      }

      &-elementum {
        &-title {
          font-size: 18px;
          line-height: 26px;
        }
      }

      &-share {
        &-container-description {
          &-title {
            font-size: 18px;
            line-height: 26px;
          }

          &-information {
            line-height: 21px;
          }
        }
      }

      &-see {
        &-title {
          font-size: 38px;
          line-height: 38px;
        }
      }
    }
  }
}

@include respond-to(tablet-landscape) {
  .article {
    &-banner-content {
      &-title {
        font-size: 68px;
        line-height: 77px;
      }

      &-description-link-information {
        font-size: 14px;
      }
    }

    &-container {
      display: flex;
      max-width: 708px;
      padding: 0px 33px 60px;

      .aside {
        width: 25%;
      }
    }

    &-content {
      width: 75%;
      padding-top: 100px;
      margin-right: 40px;

      &-arcu {
        text-align: left;

        &-title {
          font-size: 34px;
          line-height: 41px;
        }

        &-description {
          font-size: 20px;
          line-height: 29px;
        }

        &-information {
          font-size: 14px;
          line-height: 24px;
        }
      }

      &-rutrum {
        text-align: left;
        margin-bottom: 70px;

        &-title {
          text-align: center;
          font-size: 43px;
          line-height: 43px;
        }

        &-information {
          font-size: 14px;
          line-height: 24px;
        }

        &-list {
          margin-bottom: 40px;
        }

        &-wrapper {
          margin-bottom: 40px;
        }

        &-table {
          &-title,
          &-information {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }

      &-elementum {
        margin: 40px 0 80px;

        &-image {
          margin-bottom: 100px;
        }

        &-title {
          font-size: 20px;
          line-height: 29px;
        }

        &-description {
          display: flex;
          gap: 15px;

          &-list {
            display: flex;
            flex-direction: column;
            gap: 15px;

            &-item {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }

      &-share {
        &-wrapper {
          display: flex;
          justify-content: space-between;
          padding-bottom: 55px;
        }

        &-logo {
          margin-bottom: 0px;
          padding-top: 15px;
        }

        &-list {
          gap: 12px;

          &-title {
            font-size: 14px;
          }
        }

        &-container {
          display: flex;
          gap: 10px;

          &-description {
            text-align: left;

            &-title {
              font-size: 20px;
              line-height: 29px;
            }

            &-information {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }

      &-see {
        &-title {
          font-size: 43px;
          line-height: 43px;
        }

        &-list {
          display: flex;
          flex-direction: inherit;
          gap: 8px;

          &-item-description {
            &-admin,
            &-date {
              &-information {
                font-size: 11px;
              }
            }

            &-title {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@include respond-to(laptop-small) {
  .article {
    &-banner-content {
      &-title {
        font-size: 80px;
        line-height: 90px;
      }

      &-description-link-information {
        font-size: 16px;
      }
    }

    &-container {
      max-width: 940px;
      padding: 100px 15px 60px;
    }

    &-content {
      margin-right: 55px;

      &-arcu {
        &-title {
          font-size: 40px;
          line-height: 48px;
        }

        &-description {
          font-size: 24px;
          line-height: 34px;
        }

        &-information {
          font-size: 16px;
          line-height: 28px;
          margin-bottom: 50px;
        }
      }

      &-rutrum {
        &-title {
          font-size: 50px;
          line-height: 50px;
        }

        &-information {
          font-size: 16px;
          line-height: 28px;
        }

        &-table {
          &-title,
          &-information {
            font-size: 16px;
            line-height: 28px;
          }
        }
      }

      &-elementum {
        &-title {
          font-size: 24px;
          line-height: 34px;
          margin-bottom: 50px;
          width: 100%;
          max-width: 480px;
        }

        &-description-list-item {
          font-size: 16px;
          line-height: 28px;
        }
      }

      &-share {
        padding: 70px 50px 50px;

        &-logo-description {
          letter-spacing: 5px;
        }

        &-list-title {
          font-size: 16px;
        }

        &-container-description {
          &-title {
            font-size: 24px;
            line-height: 34px;
          }

          &-information {
            font-size: 16px;
            line-height: 28px;
          }
        }
      }

      &-see {
        padding: 60px 50px 50px;

        &-title {
          font-size: 50px;
          line-height: 50px;
        }

        &-list {
          gap: 12px;

          &-item-description {
            &-admin,
            &-date {
              &-information {
                font-size: 16px;
                line-height: 28px;
              }
            }

            &-title {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@include respond-to(laptop) {
  .article {
    &-container {
      max-width: 1180px;
      padding: 100px 30px 60px;
    }

    &-content {
      margin-right: 65px;
    }
  }
}
