@import '../../../responsive';
@import '../../../variables';

.vulputate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 33px 100px;

  &-content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  &-title {
    font-family: 'Prata', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: $color-primary;
    margin-bottom: 30px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;

    &-item {
      list-style: none;

      &-quantity {
        font-family: 'Prata', sans-serif;
        font-size: 50px;
        font-weight: 400;
        line-height: 50px;
        color: $color-primary;
        padding: 5px;
      }

      &-description {
        font-family: 'Outfit', sans-serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 19px;
        color: $color-primary;
      }
    }
  }
}

@include respond-to(tablet) {
  .vulputate {
    &-title {
      font-size: 30px;
      line-height: 36px;
    }

    &-list-item-description {
      line-height: 21px;
    }
  }
}

@include respond-to(tablet-landscape) {
  .vulputate {
    &-title {
      font-size: 34px;
      line-height: 41px;
    }

    &-list {
      flex-direction: row;
      justify-content: space-around;

      &-item {
        &-quantity {
          padding: 15px;
        }

        &-description {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
}

@include respond-to(laptop-small) {
  .vulputate {
    padding: 0px 15px 100px;

    &-content {
      max-width: 940px;
    }

    &-title {
      width: 450px;
      font-size: 40px;
      line-height: 48px;
      margin: 0 auto 30px;
    }

    &-list-item-description {
      font-size: 16px;
      line-height: 28px;
    }
  }
}

@include respond-to(laptop) {
  .vulputate {
    padding: 0px 30px 100px;

    &-content {
      max-width: 1180px;
    }

    &-title {
      width: 570px;
    }
  }
}
