@import '../../responsive';
@import '../../variables.scss';

.aside {
    border-left: 1px solid #EEE;

    &-container {
        padding: 100px 8px 50px;
    }

    &-content {
        &-aboutme {
            &-title {
                font-family: 'Outfit', sans-serif;
                font-size: 13px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 3px;
                margin-bottom: 15px;
                color: $color-primary;
            }

            &-image {
                display: flex;
                margin: 0 auto;
                width: 100%;
                max-width: 110px;
            }

            &-quote {
                &-image {
                    width: 100%;
                    max-width: 24px;
                    margin-bottom: 26px;
                }

                &-description {
                    font-family: 'Outfit', sans-serif;
                    font-size: 13px;
                    font-weight: 300;
                    line-height: 19px;
                    color: $color-primary;
                    margin-bottom: 53px;

                }
            }

            &-decoration {
                display: flex;
                margin: 0 auto;
            }
        }

        &-categories {
            &-title {
                font-family: 'Outfit', sans-serif;
                font-size: 13px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 3px;
                margin-top: 30px;
                margin-bottom: 15px;
                color: $color-primary;
            }

            &-list {
                list-style: none;
                padding: 0;

                &-item {
                    &-link {
                        font-family: 'Outfit', sans-serif;
                        font-size: 13px;
                        font-weight: 300;
                        line-height: 16px;
                        text-decoration: none;
                        color: $color-primary;
                    }
                    
                }
            }

            &-decoration {
                padding-top: 38px;
                display: flex;
                margin: 0 auto;
            }
        }

        &-instagram {
            &-title {
                font-family: 'Outfit', sans-serif;
                font-size: 13px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 3px;
                margin-top: 30px;
                margin-bottom: 15px;
                color: $color-primary;
            }

            &-list {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 13px;
                font-size: 0;
                list-style: none;
                padding: 0;

                &-item {
                    width: 47%;

                    &-image {
                        width: 100%;
                    }

                }
            }
        }

        &-newsletter {
            display: flex;
            flex-direction: column;

            &-title {
                font-family: 'Outfit', sans-serif;
                font-size: 13px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 3px;
                margin-top: 30px;
                margin-bottom: 15px;
                color: $color-primary;
            }

            &-email {
                font-family: 'Outfit', sans-serif;
                font-size: 15px;
                font-weight: 400;
                border: none;
                border-bottom: 2px solid #D1D6DE;
                margin-bottom: 23px;
                padding: 12px 10px;
                color: $color-primary;
            }

            &-email::placeholder {
                color: $color-primary;
            }

            &-button {
                font-family: 'Outfit', sans-serif;
                font-size: 13px;
                font-weight: 500;
                line-height: 16px;
                width: 100%;
                height: 57px;
                color: $color-primary-light;
                background-color: $color-primary;
                margin-bottom: 50px;
            }
        }
    }
}

@include respond-to(tablet) {
    .aside {
        &-content {
            &-aboutme {
                &-title {
                    letter-spacing: 4px;
                }

                &-quote-description {
                    line-height: 21px;
                }
            }

            &-categories {
                &-title {
                    letter-spacing: 4px;
                }
            }

            &-instagram {
                &-title {
                    letter-spacing: 4px;
                }
            }

            &-newsletter {
                &-title {
                    letter-spacing: 4px;
                }
            }
        }
    }
}

@include respond-to(tablet-landscape) {
    .aside {
        &-container {
            padding: 100px 16px 50px;
        }

        &-content {
            &-aboutme {
                &-quote-description {
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 63px;
                }

                &-decoration {
                    max-width: 160px;
                }
            }

            &-categories {
                &-list-item-link {
                    font-size: 14px;
                }

                &-decoration {
                    padding-top: 48px;
                    max-width: 160px;
                }
            }

            &-instagram {
                &-list-item {
                    width: 44%;
                }
            }
        }
    }
}

@include respond-to(laptop-small) {
    .aside {
        &-content {
            &-aboutme {
                &-quote {
                    display: flex;
                    align-items: baseline;
                    gap: 32px;

                    &-image {
                        max-width: 16px;
                    }

                    &-description {
                        font-size: 16px;
                        line-height: 28px;
                    }
                }

                &-decoration {
                    max-width: 192px;
                }
            }

            &-categories {
                &-list-item-link {
                    font-size: 16px;
                }

                &-decoration {
                    max-width: 192px;
                }

            }

            &-instagram {
                &-list {
                    gap: 16px;

                    &-item {
                        width: 45%;
                    }
                }
            }
        }
    }
}

@include respond-to(laptop) {
    .aside {
        &-container {
            padding: 100px 27px 50px;
        }

        &-content {
            &-aboutme {
                &-quote {
                    &-image {
                        max-width: 20px;
                    }
                }

                &-decoration {
                    max-width: 251px;
                }
            }

            &-categories {
                &-decoration {
                    max-width: 251px;
                }
            }

            &-instagram {
                &-list-item {
                    width: 46%;
                }
            }
        }
    }
}

